<mat-expansion-panel *ngIf="isVisible()">
  <mat-expansion-panel-header>
    <h5>{{getStudentAsString()}}
      <button mat-icon-button class="mat-error" (click)="removeChoosenStudent()" *ngIf="_isStudentPresent"><i class="fas fa-times font-weight-bold pb-2"></i></button></h5>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <div *ngIf="_isBookVisible">
    <p *ngFor="let book of getBooks(); let i = index">
      {{getBookAsString(book)}}
      <button mat-icon-button class="mat-error" (click)="removeBook(i)"><i class="fas fa-times"></i></button>
    </p>
    </div>
    <mat-action-row>
      <button mat-button [disabled]="isButtonDisabled()" (click)="issueBooks()">Выдать книги</button>
    </mat-action-row>
  </ng-template>
</mat-expansion-panel>
