<app-choosen-one-student></app-choosen-one-student>
<div class="container pt-4">
  <form #studentForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">Имя ученика</label>
      <input type="text" class="form-control" id="firstName" [(ngModel)]="student.firstName" name="firstName" #firstName="ngModel" [required]="state === ComponentFormState.Add">
      <div [hidden]="firstName.valid || firstName.pristine || state !== ComponentFormState.Add" class="alert alert-danger">
        Введите имя ученика
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">Фамилия ученика</label>
      <input type="text" class="form-control" id="lastName" [(ngModel)]="student.lastName" name="lastName"  #lastName="ngModel" [required]="state === ComponentFormState.Add">
      <div [hidden]="lastName.valid || lastName.pristine || state !== ComponentFormState.Add" class="alert alert-danger">
        Введите фамилию ученика
      </div>
    </div>

    <div class="form-group">
      <label for="grade">Класс</label>
      <input type="text" class="form-control" id="grade" [(ngModel)]="student.grade.grade" name="grade" #grade="ngModel" [required]="state === ComponentFormState.Add">
      <div [hidden]="grade.valid || grade.pristine || state !== ComponentFormState.Add" class="alert alert-danger">
        Введите класс, в котором учится ученик
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!studentForm.form.valid">
      <span *ngIf="state === ComponentFormState.Add; else find">Добавить</span>
      <ng-template #find>
        <span>Найти</span>
      </ng-template>
    </button>
  </form>
</div>
