<app-choosen-one-student></app-choosen-one-student>
<div *ngIf="!!students; else loading">
  <div *ngIf="!!students.length; else notfound">
    <div class="container">
      <ul class="list-group mt-4">
        <li class="list-group-item" *ngFor="let student of students">
          <div class="row">
            <div class="col"><a routerLink="/studentDetail/{{student.id}}">{{student.firstName}}&nbsp;{{student.lastName}}</a></div>
            <div class="col-1">{{student.grade.grade}}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <ng-template #notfound>
    <div class="container ">
      <div class="row mt-5">
        <div class="col text-danger">
          <span><i class="fas fa-exclamation-triangle"></i></span><span>&nbsp;По вашему запросу ничего не найдено</span>
        </div>
      </div>
    </div>
  </ng-template>
</div>
<ng-template #loading>
  <div class="spinner-wrap">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</ng-template>
