<app-choosen-one-student></app-choosen-one-student>
<div *ngIf="!!books; else loading">
  <div *ngIf="!!books.length; else notfound">
  <div class="container">
  <ul class="list-group mt-4">
    <li class="list-group-item" *ngFor="let book of books">
      <div class="row">
          <div class="col"><a routerLink="/bookDetail/{{book.id}}">{{book.bookName}}</a></div>
          <div class="col-2">{{book.author.firstName}} {{book.author.lastName}}</div>
          <div class="col-1">{{book.genre.genre}}</div>
          <div class="col-1">{{book.country.country}}</div>
          <div class="col-3">
              <span class = "text-danger" *ngIf="bookService.notReturned(book); else available">
                Выдана: {{book.bookIssues[book.bookIssues.length - 1].issueDateTime}}
              </span>
            <ng-template #available><span class = "text-success">В наличии</span></ng-template>
          </div>
      </div>
     </li>
  </ul>

    <div class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

</div>
  </div>
  <ng-template #notfound>
    <div class="container">
      <div class="row">
        <div class="col text-danger">
          <span><i class="fas fa-exclamation-triangle"></i></span><span>&nbsp;По вашему запросу ничего не найдено</span>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<ng-template #loading>
  <div class="spinner-wrap">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</ng-template>
