<app-choosen-one-student></app-choosen-one-student>
<div class="container pt-4">
  <form #bookForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="bookName">Название книги</label>
    <input type="text" class="form-control" id="bookName" [(ngModel)]="book.bookName" name="bookName" #bookName="ngModel" [required]="state === ComponentFormState.Add">
    <div [hidden]="bookName.valid || bookName.pristine || state !== ComponentFormState.Add" class="alert alert-danger">
      Введите название книги
    </div>
  </div>

  <div class="form-group">
    <label for="authorFirstName">Имя автора</label>
    <input type="text" class="form-control" id="authorFirstName" [(ngModel)]="book.author.firstName" name="authorFirstName"  #authorFirstName="ngModel" [required]="state === ComponentFormState.Add">
    <div [hidden]="authorFirstName.valid || authorFirstName.pristine || state !== ComponentFormState.Add" class="alert alert-danger">
      Введите имя автора
    </div>
  </div>

  <div class="form-group">
    <label for="authorLastName">Фамилия автора</label>
    <input type="text" class="form-control" id="authorLastName" [(ngModel)]="book.author.lastName" name="authorLastName" #authorLastName="ngModel" [required]="state === ComponentFormState.Add">
    <div [hidden]="authorLastName.valid || authorLastName.pristine || state !== ComponentFormState.Add" class="alert alert-danger">
      Введите фамилию автора
    </div>
  </div>

  <div class="form-group">
    <label for="genre">Жанр</label>
    <input type="text" class="form-control" id="genre" [(ngModel)]="book.genre.genre" name="genre" #genre="ngModel" [required]="state === ComponentFormState.Add">
    <div [hidden]="genre.valid || genre.pristine || state !== ComponentFormState.Add" class="alert alert-danger">
      Введите жанр книги
    </div>
  </div>

  <div class="form-group">
    <label for="country">Страна</label>
    <input type="text" class="form-control" id="country" [(ngModel)]="book.country.country" name="country" #country="ngModel" [required]="state === ComponentFormState.Add">
    <div [hidden]="country.valid || country.pristine || state !== ComponentFormState.Add" class="alert alert-danger">
      Введите страну, в которой книга издана
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!bookForm.form.valid">
    <span *ngIf="state === ComponentFormState.Add; else find">Добавить</span>
    <ng-template #find>
      <span>Найти</span>
    </ng-template>
  </button>
</form>
</div>
