<app-choosen-one-student></app-choosen-one-student>
<div *ngIf="!!book; else loading">
  <div class="container pt-3">
  <div class="row">
    <div class="col">
            <span>
                Название книги
            </span>
      <span>
                <h4>{{book.bookName}}</h4>
            </span>
    </div>
  </div>
  <div class="row">
    <div class="col">
            <span>
                Автор
            </span>
      <span>
                <h4>{{book.author.firstName}}&nbsp;{{book.author.lastName}}</h4>
            </span>
    </div>
  </div>
  <div class="row">
    <div class="col">
            <span>
                Жанр
            </span>
      <span>
                <h5>{{book.genre.genre}}</h5>
            </span>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <span>
            Страна
        </span>
      <span>
            <h5>{{book.country.country}}</h5>
        </span>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" *ngIf="!notReturned; else notReturnedBook">
    <div class="col pt-4" ><button class="btn btn-primary" (click)="addBook()" [disabled]="choosenStudent.isTheBookInList(book)">Выдать книгу</button></div>
  </div>
    <ng-template #notReturnedBook>
      <div class="row">
      <div class="col pt-4 text-danger"><span>Нет в наличии</span></div>
      </div>
      <div class="row">
        <div class="col pt-2"><button class="btn btn-danger" (click)="returnBook()">Вернуть книгу</button></div>
      </div>
      <div class="row">
        <div class="col pt-4">
          <a [routerLink]="[ '/studentDetail', { issue: issueId }]">
            Выдана: {{wasIssued}}
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col" *ngIf="!!debt"><span class="text-danger">Задолженность составляет {{debt}}</span></div>
      </div>
    </ng-template>
</div>
</div>
<ng-template #loading>
  <div class="spinner-wrap">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</ng-template>

<!-- Если выдана то кнопка вернуть
     дата выдачи/расчет задолженности является ссылкой на студента если интересно - запрос к базе

     Если свободна, то выдача -->
