<app-choosen-one-student></app-choosen-one-student>
<div *ngIf="!!student; else loading">
  <div class="container pt-3">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">
            <span>Имя:</span><h4>{{student.firstName}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span>Фамилия:</span><h4>{{student.lastName}}</h4>
          </div>
        </div>
        <div class="row">
          <div  class="col">
            <span>Класс:</span><h4>{{student.grade.grade}}</h4>
          </div>
        </div>
      </div>
      <div class="col-md-1 col">
        <p class="float-right"><button class="btn btn-primary" (click)="selectStudent()">Выбрать</button></p>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="spinner-wrap">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</ng-template>
